@{
    ViewData["Title"] = "Home";
}

<h1 class="title">Welcome to Dog Breed App!</h1>
<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity w3-margin-top">
    <img src="~/images/dogs.jpg" alt="best friends" id="home-image">
    <div class="w3-container w3-display-topmiddle">
        <button onclick="location.pathname = '/Home/AllDogBreeds'"  class="w3-button w3-large w3-theme w3-hover-teal" title="Go To All Dog Breeds">SEE ALL DOG BREEDS</button>
        <button onclick="location.pathname = '/Quiz/GetQuiz'" class="w3-button w3-large w3-theme w3-hover-teal w3-margin-left" title="Go To Breed Quiz">TAKE THE BREED QUIZ</button>
    </div>
</div>




